# Maven build output
/target/
/build/

# Maven Wrapper files (if used)
/.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Eclipse files
.classpath
.project
.settings/
.factorypath
.apt_generated

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
